<% content_for :secondmenu do %>
<ul>
	<li><%= link_to "<span>#{t "admin.general.general"}</span>".hs, edit_admin_settings_path %></li>
	<li><%= link_to "<span>#{t "admin.templates.templates"}</span>".hs, admin_settings_templates_path %></li>
</ul>
<% end %>

<%# content_for :sidebar do %>
<div id='templates-sidebar'>
	<%= render :partial => "sidebar", :object => @templates %>
</div>	
<%# end %>

<!-- <h1>Coming soon...</h1> -->

<%#= render :partial => "/admin/layouts/boxes", :object => @layouts, :locals => {:templates => @templates} %>

