/* Blue .main_container button */
.main_container button.blue, .alert_blue, .calendar_blue{
    background: #1C5EA0; /* old browsers */
    background: -moz-linear-gradient(top, #1C5EA0 0%, #064792 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1C5EA0), color-stop(99%,#064792)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1C5EA0', endColorstr='#064792',GradientType=0 ); /* ie */
    border: 1px solid #064792;
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,1),inset 0px 1px 0px rgba(255,255,255,0.2);
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,1),    inset 0px 1px 0px rgba(255,255,255,0.2);
    text-shadow:0px -1px 1px rgba(000,000,000,1),0px 1px 0px rgba(255,255,255,0.2)
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
zoom:1;
}
.main_container button.blue:hover, .alert_blue:hover, .calendar_blue:hover;{
    background: #064792; /* old browsers */
    background: -moz-linear-gradient(top, #064792 0%, #1C5EA0 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#064792), color-stop(99%,#1C5EA0)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#064792', endColorstr='#1C5EA0',GradientType=0 ); /* ie */
    zoom:1;    
}
/* Black .main_container button */
.main_container button.black, .alert_black, .calendar_black{
    background: #4c5766; /* old browsers */
    background: -moz-linear-gradient(top, #4c5766 0%, #313841 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c5766), color-stop(99%,#313841)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c5766', endColorstr='#313841',GradientType=0 ); /* ie */
    border: 1px solid #313841;
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,1),inset 0px 1px 0px rgba(255,255,255,0.2);
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,1),    inset 0px 1px 0px rgba(255,255,255,0.2);
    text-shadow:0px -1px 1px rgba(000,000,000,1),0px 1px 0px rgba(255,255,255,0.2)
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    zoom:1;
}
.main_container button.black:hover, .alert_black:hover, .calendar_black_hover{
    background: #313841; /* old browsers */
    background: -moz-linear-gradient(top, #313841 0%, #4c5766 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313841), color-stop(99%,#4c5766)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313841', endColorstr='#4c5766',GradientType=0 ); /* ie */
    zoom:1;    
}
/* Navy .main_container button */
.main_container button.navy, .alert_navy, .calendar_navy{
    background: #2b4356; /* old browsers */
    background: -moz-linear-gradient(top, #2b4356 0%, #122b45 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b4356), color-stop(99%,#122b45)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b4356', endColorstr='#122b45',GradientType=0 ); /* ie */
    border: 1px solid #122b45;
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,1),inset 0px 1px 0px rgba(255,255,255,0.2);
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,1),    inset 0px 1px 0px rgba(255,255,255,0.2);
    text-shadow:0px -1px 1px rgba(000,000,000,1),0px 1px 0px rgba(255,255,255,0.2)
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    zoom:1;
}
.main_container button.navy:hover, .alert_navy:hover, .calendar_navy:hover{
    background: #122b45; /* old browsers */
    background: -moz-linear-gradient(top, #122b45 0%, #2b4356 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#122b45), color-stop(99%,#2b4356)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#122b45', endColorstr='#2b4356',GradientType=0 ); /* ie */
    zoom:1;    
}
/* Red .main_container button */
.main_container button.red, .alert_red, .calendar_red{
    background: #9e253b; /* old browsers */
    background: -moz-linear-gradient(top, #9e253b 0%, #7C1F30 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e253b), color-stop(99%,#7C1F30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e253b', endColorstr='#7C1F30',GradientType=0 ); /* ie */
    border: 1px solid #7C1F30;
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,1),inset 0px 1px 0px rgba(255,255,255,0.2);
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,1),    inset 0px 1px 0px rgba(255,255,255,0.2);
    text-shadow:0px -1px 1px rgba(000,000,000,1),0px 1px 0px rgba(255,255,255,0.2)
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    zoom:1;
}
.main_container button.red:hover, .alert_red:hover, .calendar_red:hover{
    background: #7C1F30; /* old browsers */
    background: -moz-linear-gradient(top, #7C1F30 0%, #9e253b 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7C1F30), color-stop(99%,#9e253b)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7C1F30', endColorstr='#9e253b',GradientType=0 ); /* ie */
    zoom:1;    
}
/* Green .main_container button */
.main_container button.green, .alert_green, .calendar_green{
    background: #3d8336; /* old browsers */
    background: -moz-linear-gradient(top, #3d8336 0%, #277423 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d8336), color-stop(99%,#277423)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d8336', endColorstr='#277423',GradientType=0 ); /* ie */
    border: 1px solid #277423;
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,1),inset 0px 1px 0px rgba(255,255,255,0.2);
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,1),    inset 0px 1px 0px rgba(255,255,255,0.2);
    text-shadow:0px -1px 1px rgba(000,000,000,1),0px 1px 0px rgba(255,255,255,0.2)
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    zoom:1;
}
.main_container button.green:hover, .alert_green:hover, .calendar_green:hover{
    background: #277423; /* old browsers */
    background: -moz-linear-gradient(top, #277423 0%, #3d8336 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#277423), color-stop(99%,#3d8336)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#277423', endColorstr='#3d8336',GradientType=0 ); /* ie */
    zoom:1;    
}
/* Orange .main_container button */
.main_container button.orange, .alert_orange, .calendar_orange{
    background: #ca6705; /* old browsers */
    background: -moz-linear-gradient(top, #ca6705 0%, #ae5905 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca6705), color-stop(99%,#ae5905)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca6705', endColorstr='#ae5905',GradientType=0 ); /* ie */
    border: 1px solid #ae5905;
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,1),inset 0px 1px 0px rgba(255,255,255,0.2);
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,1),    inset 0px 1px 0px rgba(255,255,255,0.2);
    text-shadow:0px -1px 1px rgba(000,000,000,1),0px 1px 0px rgba(255,255,255,0.2)
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    zoom:1;
}
.main_container button.orange:hover, .alert_orange:hover, .calendar_orange:hover{
    background: #ae5905; /* old browsers */
    background: -moz-linear-gradient(top, #ae5905 0%, #ca6705 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ae5905), color-stop(99%,#ca6705)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae5905', endColorstr='#ca6705',GradientType=0 ); /* ie */
    zoom:1;    
}
/* Magenta .main_container button */
.main_container button.magenta, .alert_magenta, .calendar_magenta{
    background: #9B6CA6; /* old browsers */
    background: -moz-linear-gradient(top, #9B6CA6 0%, #8D579A 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9B6CA6), color-stop(99%,#8D579A)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9B6CA6', endColorstr='#8D579A',GradientType=0 ); /* ie */
    border: 1px solid #8D579A;
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,1),inset 0px 1px 0px rgba(255,255,255,0.2);
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,1),    inset 0px 1px 0px rgba(255,255,255,0.2);
    text-shadow:0px -1px 1px rgba(000,000,000,1),0px 1px 0px rgba(255,255,255,0.2)
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    zoom:1;
}
.main_container button.magenta:hover, .alert_magenta:hover, .calendar_magenta:hover{
    background: #8D579A; /* old browsers */
    background: -moz-linear-gradient(top, #8D579A 0%, #9B6CA6 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8D579A), color-stop(99%,#9B6CA6)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8D579A', endColorstr='#9B6CA6',GradientType=0 ); /* ie */
    zoom:1;    
}
.main_container button.black, .alert_black{
background: #4c5766; /* old browsers */
background: -moz-linear-gradient(top, #4c5766 0%, #313841 99%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c5766), color-stop(99%,#313841)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c5766', endColorstr='#313841',GradientType=0 ); /* ie */
border:1px solid #313841;
zoom:1;
}
.main_container button.black:hover, .alert_black:hover{
background: #313841; /* old browsers */
background: -moz-linear-gradient(top, #313841 0%, #4c5766 99%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313841), color-stop(99%,#4c5766)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313841', endColorstr='#4c5766',GradientType=0 ); /* ie */
border:1px solid #4c5766;
zoom:1;
}
.main_container button.grey, .alert_grey, .calendar_grey, .calendar_grey > .fc-event-skin{
background: #DFE2E4; /* old browsers */
background: -moz-linear-gradient(top, #E6ECEF 0%, #D0D6DA 99%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E6ECEF), color-stop(99%,#D0D6DA)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6ECEF', endColorstr='#D0D6DA',GradientType=0 ); /* ie */
border:1px solid #D0D6DA;
zoom:1;
color:#333 !important;
text-shadow: 0 1px 0px #fff !important;
}
.main_container button.grey:hover, .alert_grey:hover, .calendar_grey:hover{
background: #E6ECEF; /* old browsers */
background: -moz-linear-gradient(top, #D0D6DA 0%, #E6ECEF 99%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D0D6DA), color-stop(99%,#E6ECEF)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D0D6DA', endColorstr='#E6ECEF',GradientType=0 ); /* ie */
zoom:1;
}
