/* PERSONALIZED GRID SYSTEM */
/* FORKED BY THE ORIGINAL 960 GRID */
/**********************************/
/* set the desired fixed width in pixel or %  */
/* if you use percentage, take care to avoid to go upper then 92% to left some margin */
/* set the margin between columns in % for fluid */
/* WARNING: Internal variables, don't change it! these are assumed to modify margin in fixed layout */
.hive_12, .hive_16 { width: 90%; min-width: 960px; margin-left: 5%; margin-right: 5%; }

.cell_1, .cell_2, .cell_3, .cell_4, .cell_5, .cell_6, .cell_7, .cell_8, .cell_9, .cell_10, .cell_11, .cell_12, .cell_13, .cell_14, .cell_15, .cell_16 { display: inline; float: left; margin-left: 0.99%; margin-right: 0.99%; }

.hive_12 .cell_3, .hive_16 .cell_4 { width: 23%; }

.hive_12 .cell_6, .hive_16 .cell_8 { width: 48%; }

.hive_12 .cell_9, .hive_16 .cell_12 { width: 73%; }

.hive_12 .cell_12, .hive_16 .cell_16 { width: 98%; }

.alpha { margin-left: 0; }

.omega { margin-right: 0; }

.hive_12 .cell_1 { width: 6.333%; }

.hive_12 .cell_2 { width: 14.666%; }

.hive_12 .cell_4 { width: 31.333%; }

.hive_12 .cell_5 { width: 39.666%; }

.hive_12 .cell_7 { width: 56.333%; }

.hive_12 .cell_8 { width: 64.666%; }

.hive_12 .cell_10 { width: 81.333%; }

.hive_12 .cell_11 { width: 89.666%; }

.hive_16 .cell_1 { width: 4.25%; }

.hive_16 .cell_2 { width: 10.5%; }

.hive_16 .cell_3 { width: 16.75%; }

.hive_16 .cell_5 { width: 29.25%; }

.hive_16 .cell_6 { width: 35.5%; }

.hive_16 .cell_7 { width: 41.75%; }

.hive_16 .cell_9 { width: 54.25%; }

.hive_16 .cell_10 { width: 60.5%; }

.hive_16 .cell_11 { width: 66.75%; }

.hive_16 .cell_13 { width: 79.25%; }

.hive_16 .cell_14 { width: 85.5%; }

.hive_16 .cell_15 { width: 91.75%; }

.hive_12 .pre_3, .hive_16 .pre_4 { padding-left: 25%; }

.hive_12 .pre_6, .hive_16 .pre_8 { padding-left: 50%; }

.hive_12 .pre_9, .hive_16 .pre_12 { padding-left: 75%; }

.hive_12 .pre_1 { padding-left: 8.333%; }

.hive_12 .pre_2 { padding-left: 16.666%; }

.hive_12 .pre_4 { padding-left: 33.333%; }

.hive_12 .pre_5 { padding-left: 41.666%; }

.hive_12 .pre_7 { padding-left: 58.333%; }

.hive_12 .pre_8 { padding-left: 66.666%; }

.hive_12 .pre_10 { padding-left: 83.333%; }

.hive_12 .pre_11 { padding-left: 91.666%; }

.hive_16 .pre_1 { padding-left: 8.333%; }

.hive_16 .pre_2 { padding-left: 12.5%; }

.hive_16 .pre_3 { padding-left: 18.75%; }

.hive_16 .pre_5 { padding-left: 31.25%; }

.hive_16 .pre_6 { padding-left: 37.5%; }

.hive_16 .pre_7 { padding-left: 43.75%; }

.hive_16 .pre_9 { padding-left: 56.25%; }

.hive_16 .pre_10 { padding-left: 62.5%; }

.hive_16 .pre_11 { padding-left: 68.75%; }

.hive_16 .pre_13 { padding-left: 81.25%; }

.hive_16 .pre_14 { padding-left: 87.5%; }

.hive_16 .pre_15 { padding-left: 93.75%; }

.hive_12 .post_3, .hive_16 .post_4 { padding-right: 25%; }

.hive_12 .post_6, .hive_16 .post_8 { padding-right: 50%; }

.hive_12 .post_9, .hive_16 .post_12 { padding-right: 75%; }

.hive_12 .post_1 { padding-right: 8.333%; }

.hive_12 .post_2 { padding-right: 16.666%; }

.hive_12 .post_4 { padding-right: 33.333%; }

.hive_12 .post_5 { padding-right: 41.666%; }

.hive_12 .post_7 { padding-right: 58.333%; }

.hive_12 .post_8 { padding-right: 66.666%; }

.hive_12 .post_10 { padding-right: 83.333%; }

.hive_12 .post_11 { padding-right: 91.666%; }

.hive_16 .post_1 { padding-right: 6.25%; }

.hive_16 .post_2 { padding-right: 16.5%; }

.hive_16 .post_3 { padding-right: 18.75%; }

.hive_16 .post_5 { padding-right: 31.25%; }

.hive_16 .post_6 { padding-right: 37.5%; }

.hive_16 .post_7 { padding-right: 43.75%; }

.hive_16 .post_9 { padding-right: 56.25%; }

.hive_16 .post_10 { padding-right: 62.5%; }

.hive_16 .post_11 { padding-right: 68.75%; }

.hive_16 .post_13 { padding-right: 81.25%; }

.hive_16 .post_14 { padding-right: 87.5%; }

.hive_16 .post_15 { padding-right: 93.75%; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }

.clearfix { display: inline-block; }

* html.clearfix { height: 1%; }

.clearfix { display: block; }
