/*-----------------------------------------------------
 	Author: Marco Zampetti (mailto:zaorunner@gmail.com)
---------------------------------------------------- */
.icon-content {display:block;width:16px;height:16px;background:url(/images/admin/icon-content.png) no-repeat top;margin:0 0 0 0;}
.icon-properties{display:block;width:16px;height:16px;background:url(/images/admin/icon-properties.png) no-repeat top;}
.icon-lock{display:block;width:16px;height:16px;background:url(/images/admin/icon-lock.png) no-repeat top;}
.icon-unlock{display:block;width:16px;height:16px;background:url(/images/admin/icon-unlock.png) no-repeat top;}
.icon-v{display:block;width:16px;height:16px;background:url(/images/admin/icon-v.png) no-repeat top;}
.icon-x{display:block;width:16px;height:16px;background:url(/images/admin/icon-x.png) no-repeat top;}
.icon-delete{display:block;width:16px;height:16px;background:url(/images/admin/icon-delete.png) no-repeat top;}
.icon-edit{display:block;width:16px;height:16px;background:url(/images/admin/icon-edit.png) no-repeat top;}
.icon-add{display:block;width:16px;height:16px;background:url(/images/admin/icon-add.png) no-repeat top;}
.icon-attach{display:block;width:16px;height:16px;background:url(/images/admin/icon-eat tch.png) no-repeat top;}
.icon-file-arch{display:block;width:32px;height:32px;background:url(/images/admin/icon-file-arch.png) no-repeat top;}
.icon-file-audio{display:block;width:32px;height:32px;background:url(/images/admin/icon-file-audio.png) no-repeat top;}
.icon-file-docu{display:block;width:32px;height:32px;background:url(/images/admin/icon-file-docu.png) no-repeat top;}
.icon-file-generic{display:block;width:32px;height:32px;background:url(/images/admin/icon-file-generic.png) no-repeat top;}
.icon-file-video{display:block;width:32px;height:32px;background:url(/images/admin/icon-file-video.png) no-repeat top;}
.delete-attach{position:relative;}
.icon-lock-bw{display:block;width:16px;height:16px;background:url(/images/admin/icon-lock-bw.png) no-repeat;}
.icon-unlock-bw{display:block;width:16px;height:16px;background:url(/images/admin/icon-unlock-bw.png) no-repeat;}
.icon-v-bw{display:block;width:16px;height:16px;background:url(/images/admin/icon-v-bw.png) no-repeat;}
.icon-x-bw{display:block;width:16px;height:16px;background:url(/images/admin/icon-x-bw.png) no-repeat;}
.icon-content:hover,.icon-properties:hover,.icon-lock:hover,.icon-unlock:hover,.icon-v:hover,.icon-x:hover,.icon-delete:hover,.icon-edit:hover,.icon-add:hover,.icon-attach:hover,.icon-file-arch:hover,.icon-file-audio:hover,.icon-file-docu:hover,.icon-file-generic:hover,.icon-file-video:hover{background-position:bottom;}