/*-----------------------------------------------------
 	Author: Marco Zampetti (mailto:zaorunner@gmail.com)
---------------------------------------------------- */
@import url("admin-nav.css");
@import url("admin-icons.css");
@import url("admin-misc.css");

html {font-family: Trebuchet, sans-serif;font-size:16px;color: #333;background: #666;}
ul li{list-style:none;}
th {text-align:left;}
/* ============================= HEADER ===========================*/
.header {width: 100%;height: 197px;background: url(/images/admin/top-bg.png) top repeat-x;}
.header .container{position:relative;width:960px;height: 197px;left: 50%;margin-left:-480px;top: 0px;}
.header .container .logo-top{position:absolute;height: 111px;width: 314px;top: 15px;left: -10px;}
.header .container .user-area{position:absolute;height: 90px;width: 260px;top: 13px;right: 0px;text-align: right;}
.header .container .user-area .gravatar{float: right;height: 86px;width: 86px;margin-left: 10px;background:url("/images/admin/gravatar-box.png") no-repeat;}
.header .container .user-area .gravatar img{padding: 3px 3px 0 0;}
.header .container .user-area span.hi {display: block;font-size: 11px;color: #fff;}
.header .container .user-area span.username {display: block;font-size: 24px;color: #ffa73d;font-weight: bold;text-shadow: 1px 1px 1px #555555;line-height: 24px;}
.header .container .user-area span.buttons a{display: inline-block;padding: 6px 0px 4px 10px;color: #fff;text-decoration: none;font-weight: bold;}
.header .container .user-area span.buttons a:hover{color: #ffa73d;}
.header .container .user-area span.public-link a{display: inline-block;padding: 2px 0px 4px 10px;color: #fff;text-decoration: none;font-weight: bold;font-size:12px;}
/* ============================= CONTENT ===========================*/
.page-content {background: #fff;min-height: 400px;}
.page-content .container{position:relative;width:960px;left: 50%;margin: 0px 0 0px -480px;top: 0px;padding: 15px 0 20px 0;}
.page-content .container .new-page{width: 134px;height: 42px;margin-top: 15px;float: right;background: url(/images/admin/bt-new.png) no-repeat;}
.page-content .container .new-page a {display: block;font-size: 16px;font-weight: bold;color: #fff;padding: 11px 15px 10px 15px;text-decoration: none;text-shadow: 1px 1px 1px #55555;}
.page-content .container .new-page a:hover {color: #ffa73d;text-shadow: 1px 1px 1px #555555;}
.page-content .container .box {background-image: url(/images/admin/box-top-sx.png), url(/images/admin/box-top-dx.png), url(/images/admin/box-top-cont.png), url(/images/admin/box-bot-sx.png), url(/images/admin/box-bot-dx.png), url(/images/admin/box-bot-cont.png), url(/images/admin/box-mid-sx.png), url(/images/admin/box-mid-dx.png);background-repeat: no-repeat, no-repeat, repeat-x, no-repeat, no-repeat, repeat-x, repeat-y, repeat-y;background-position: top left, top right, top center, bottom left, bottom right, bottom center, left, right;font-size: 12px;margin-bottom: 15px;position: relative; min-height:50px;}
.page-content .container .equal {width: 472px;}
.page-content .container .maior {width: 690px;}
.page-content .container .minor {width: 250px;}
.page-content .container .maximo {width: 100%;}
.page-content .container .left{float: left;}
.page-content .container .right{float: right;}
.page-content .container .defloater{clear: both;}
.page-content .container .box span.box-top-title {position: absolute;top: 0px;left: 0px;padding: 15px 15px 10px 15px;line-height: 16px;font-weight: bold;font-size: 16px;color: #fff;text-shadow: 1px 1px 1px #555555;}
.page-content .container .box span.box-top-buttons {position: absolute;top: 0px;right: 0px;display: block;height: 45px;vertical-align: middle;}
.page-content .container .box span.box-top-buttons a{display: inline-block;margin: 0 0 0 0;line-height: 12px;height: 32px;padding: 17px 15px 0px 15px;text-shadow: 1px 1px 1px #555555;text-decoration: none;font-weight: bold;font-size: 12px;color: #fff;}
.page-content .container .box span.box-top-buttons a.new{background: url(/images/admin/bt-new.png) no-repeat center right;padding-right: 25px;margin-right: 15px;}
.page-content .container .box span.box-top-buttons a:hover{text-shadow: 0px 0px 0px #555555;}
.page-content .container .box span.box-top-misc {position: relative;display: block;margin-top: 46px;font-size: 12px;padding: 5px 10px 5px 0;}
.page-content .container .box span.box-bot-misc {position: relative;display: block;font-size: 12px;padding: 0px 10px 10px 0;}
.page-content .container .box span div.pagination {height:15px;text-align: right;color: #aaa;}
.page-content .container .box span div.pagination a{color: #333;text-decoration: none;}
.page-content .container .box span div.pagination a:hover{color: #000;text-decoration: underline;}
.page-content .container .box table.box-item-list{position: relative;top: 0px;display: block;padding: 10px 10px 10px 20px;font-size: 12px;}
.page-content .container .box table th{font-weight: bold;color: #629508;font-size: 11px;padding: 0 0px 5px 0px;}
.page-content .container .box table th.table-icons{text-align: center;padding: 0 5px 5px 5px;}
.page-content .container .box table td{padding: 4px 0 4px 0;}
.page-content .container .box table tr td span a{text-decoration: none;}
.page-content .container .box table tr td span a:hover{text-decoration: underline;}
.page-content .container .box p {font-size: 12px;display: block;padding: 13px 15px 15px 15px;}
.page-content .container .box p label {font-size: 12px;font-size: bold;display: inline-block;padding: 0 20px 0 0;float: left;width: 200px;}
.page-content .container .box p input {width: 300px;}
.page-content .container .box p a{font-weight: bold;text-decoration: none;color: #629508;}
.page-content .container .box p a:hover{text-decoration: underline;}
.page-content .container .box ul {display: block;padding: 10px 15px 15px 15px;}
.page-content .container .box ul li{padding: 5px 0 5px 0;}
.page-content .container .box div.categories-sidebar {padding-top: 4px;}
.page-content .container .box div.categories-sidebar ul{list-style:none;}
.page-content .container .box div.categories-sidebar ul li a {float: right;}
.page-content .container .box div.templates-sidebar ul li {display:block;height:18px;width:100%;}
.page-content .container .box div.templates-sidebar ul li a {float: left; text-decoration: none;}
.page-content .container .box div.templates-sidebar ul li a:hover {text-decoration: underline;}
.page-content .container .box div.templates-sidebar ul li a.icon-delete{float: right;}
.page-content .container .box #templates-select {margin-top:45px;}
.page-content .container .box .box-top-dropdown{display: block;position: relative;margin-top: 45px;}
.page-content .container .box div#new-category form#new_category{margin: 0px;padding-bottom: 0px;}
.page-content .container .box div#new-category input{padding: 3px 5px 3px 5px;background: none;border: 3px solid #86c440;background: #fff;letter-spacing: 1px;position: relative;	left: 0px;margin: 0px;}
.page-content .container .box div#new-category input:hover{border: 3px solid #ff9a2a;font-weight: normal;text-decoration: none;background: #fff;letter-spacing: 1px;cursor:pointer;}
.page-content .container .box div#new-category input#category_name,.page-content .container .box div#new-category input#category_name:hover{width: 120px;letter-spacing: 0px;	cursor: text;}
.page-content .container .box div#new-template form#new_template{margin: 0px;padding-bottom: 0px;}
.page-content .container .box div#new-template input{padding: 3px 5px 3px 5px;background: none;border: 3px solid #86c440;background: #fff;letter-spacing: 1px;position: relative;	left: 0px;margin: 0px;}
.page-content .container .box div#new-template input:hover{border: 3px solid #ff9a2a;font-weight: normal;text-decoration: none;background: #fff;letter-spacing: 1px;cursor:pointer;}
.page-content .container .box div#new-template input#template_name,.page-content .container .box div#new-template input#template_name:hover{width: 120px;letter-spacing: 0px;	cursor: text;}
.page-content .container .box div#pages-list {font-size: 12px;padding: 0px 15px 15px 10px;margin-top: 56px;}
.page-content .container .box div#pages-list ul{padding: 4px 0px 0px 0px;margin: 0px;}
.page-content .container .box div#pages-list ul li{margin: 0px;padding-left: 12px;list-style:none;border-radius:5px;-moz-border-radius:5px;}
.page-content .container .box div#pages-list ul li strong{display: inline-block;width: 78%;}
.page-content .container .box div#pages-list ul li ul li strong{display: inline-block;width: 75%;}
.page-content .container .box div#pages-list ul li ul li ul li strong{display: inline-block;width: 72%;}
.page-content .container .box div#pages-list ul li:hover{background: #f7f7f7;}
.page-content .container .box div#pages-list ul li a{float: right;margin-right:5px;}
.page-content .container .box div#pages-list ul li ul li:hover{background: #ebebeb;}
.page-content .container .box div#pages-list ul li ul li ul li:hover{background: #dcdbdb;}
.page-content .container .box div#pages-list ul li ul li ul li ul li:hover{background: #cfcece;}
.page-content .container .box div#pages-list ul li ul li ul li ul li ul li:hover{background: #bfbebe;}
.page-content .container .box div#snippets {margin-top: 45px;}
.page-content .container .box div#snippets .snippet-row {overflow: hidden;font-size: 12px;float: left;border: 3px solid #86c440;margin: 18px;}
.page-content .container .box div#snippets .snippet-row ul li {font-size: 12px;}
.page-content .container .box div#snippets .snippet-row a{display: inline-block;margin-right: 2px;}
.page-content .container .box div#snippets .snippet-row h4 {text-align: center;color: #629409;font-size: 14px;padding-top: 0px;padding-bottom: 0px;}
.page-content .container .box div#snippets .synth-top {width: 648px;clear: both;}
.page-content .container .box div#snippets .synth-left {width: 205px;margin: 0px 5px 0 18px;}
.page-content .container .box div#snippets .synth-right {width: 206px;margin: 0px 5px 0 5px;}
.page-content .container .box div#snippets .synth-middle {width: 205px;margin: 0px 5px 0 5px;}
.page-content .container .box div#snippets .synth-bottom {width: 648px;clear: both;margin-bottom: 0px;}
.page-content .container .box div#snippets .synth-extra {width: 648px;clear: both;border: 3px dashed #86c440;}
.page-content .container .box div#snippets .boxes {width: 303px;display: block;}
.page-content .container .box form {padding: 10px 20px 20px 20px;margin-top: 45px;}
.page-content .container .box form div {margin: 15px 0 15px 0;position: relative;}
.page-content .container .box form div textarea {margin-top: 15px;display: block;}
.page-content .container .box form input,.page-content .container .box form select {position: absolute;left: 200px;}
.page-content .container .box form .buttons input {position: relative;left: 0px;}
.page-content .container .box .buttons {padding-top: 15px;display: block;}
.page-content .container .box .attach-support {margin-left: 15px;}
/* ============================= FOOTER ===========================*/
.footer {width: 100%;height: 50px;background: #868686;}
.footer .container{position:relative;width:960px;left: 50%;margin-left:-480px;top: 0px;}
.footer .container .content{font-size: 12px;width: 100%;text-align: center;color: #fff;padding-top: 15px;}
.footer .container .content a{color: #fff;text-decoration: none;}
.footer .container .content a:hover{text-decoration: underline;}