<%= render :partial => "comment_form", :object => commentable, :as => :commentable unless @current_user.blank? %>
</br>
<p>Comments</p>
<%= render :partial => "comment_item", :collection => commentable.comments, :as => :comment %>
