<div class="article_show" id="article-<%= @article.id %>">
  <div class="article_abstract"><%= render :inline => @article.short %></div>
  <div class="article_body"><%= render :inline => @article.body %></div>
</div>