<div class='footer-menu'>
	<% @first_level_pages.map do |p| %>
		<% if p.visible_in_menu && p.published && (!p.reserved || (p.reserved && current_user && current_user.is_privileged?)) %>
			<ul>
				<li class='footer-roots'><%= link_to "<span>#{p.title}</span>".hs, get_yard_url(p) %></li>
				<%= render :partial => 'footer_item', :collection => p.children unless p.children.empty? %>
			</ul>
		<% end %>
	<% end %>
</div>
