<div class='twolevels-menu'>
	<ul>
		<% @first_level_pages.map do |p| %>
		    <% if p.visible_in_menu && p.published && (!p.reserved || (p.reserved && current_user && current_user.is_privileged?)) %>
			    <li<%= " class =\"current\"".hs if p.id == @page.id || @family_pages_ids.include?(p.id) %>><%= link_to "<span>#{p.title}</span>".hs, get_yard_url(p) %></li>
			    	<% unless p.children.blank? %>	
			    		<ul>
			    			<% p.children.map do |c| %>
			    			    <% if c.visible_in_menu && c.published && (!c.reserved || (c.reserved && current_user && current_user.is_privileged?)) %>
			    				    <li<%= " class =\"current-children\"" if c.id == @page.id %>><%= link_to "<span>#{c.title}</span>".hs, get_yard_url(c) %>
			    				<% end %>
			    			<% end %>
			    		</ul>
			    	<% end %>
			    </li>
			<% end %>
		<% end %>
	</ul>
</div>
