log/*.log
tmp/**/*
.DS_Store
Thumbs.db
public/assets/**/*
public/system/**/*
public/ckeditor_assets/**/*
config/database.yml
config/deploy.rb
sublime-develop.sublime-project
devise/**/*
devise/*
Gemfile.lock
