log/*.log
tmp/**/*
.DS_Store
Thumbs.db
public/assets/**/*
public/system/**/*
public/ckeditor_assets/**/*
public/uploads/**/*
config/database.yml
config/deploy.rb
sublime-develop.sublime-project
devise/**/*
devise/*
.bundle
db/*.sqlite3
db/schema.rb
