<div id="comments_list">
  <% if !object.comments.empty? %>
	<%= render :partial => "comments/item", :collection => object.comments %>
  <% end %>
</div>


<% if logged_in? %>
  	<%= render :partial => "comments/form", :object => object %>
<% end %>