<div class="carousel-news">
	<div class="container">
		<div id="horizontal_carousel">
			<div class="previous_button"></div>
				<div class="slider">
					<ul>
						<% @articles.collect do |a| %>
							<li><%= link_to "<h1>#{a.title}</h1>".san, get_article_url(a) %><p><%= a.short %></p></li>
						<% end %>
					</ul>
				</div>
			<div class="next_button"></div>
		</div>
		<script>
		new UI.Carousel("horizontal_carousel", {scrollInc: 3});
		</script>
	</div>
</div>