.snippet .controls {
  display: block;
  background-color: gray;
  padding: 3px;
  float: right;
  opacity: .3;
}

.snippet:hover .controls {
  opacity: .8;
}

.snippet .controls a {
  display: none;
  width: 16px;
  height: 16px;
  background-image: url(../images/error.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.snippet:hover .controls a {
  display: inline-block;
}

.snippet .controls .title {
  font-family: Tahoma;
  font-size: 11px;
  font-weight: bold;
  vertical-align: top;
  text-shadow: 0 1px 0 silver;
  cursor: move;
  background-image: url(../images/move.png);
  background-position: right center;
  background-repeat: no-repeat;
  padding: 0px 16px 0px 0px;
}

.snippet .controls a.delete {
  background-image: url(../images/delete.png);
}

.snippet .controls a.edit {
  background-image: url(../images/edit.png);
}

.snippet .controls a span {
  display: none;
}

.drop_target.dragging {
  min-height: 30px;
  border: 2px dotted #DADADA;
}
.dashed_placeholder {
  background-color: silver;
  height: 50;
}