/*-----------------------------------------------
 	Author: Marco Zampetti (mailto:zaorunner@gmail.com)
----------------------------------------------- */
@import url("site-develop/style.css");

a {outline: none;}
INPUT.hintTextbox{color: #888;}
INPUT.hintTextboxActive{color: #000;}	
.invisible {display: none;}
.icon-file-arch {display: block;width: 32px;height: 32px;background: url(/images/site-develop/icon-file-arch.png) no-repeat top;}
.icon-file-arch:hover {background: url(/images/site/icon-file-arch.png) no-repeat bottom;}
.icon-file-audio {display: block;width: 32px;height: 32px;background: url(/images/site-develop/icon-file-audio.png) no-repeat top;}
.icon-file-audio:hover {background: url(/images/site/icon-file-audio.png) no-repeat bottom;}
.icon-file-docu {display: block;width: 32px;height: 32px;background: url(/images/site-develop/icon-file-docu.png) no-repeat top;}
.icon-file-docu:hover {background: url(/images/site/icon-file-docu.png) no-repeat bottom;}
.icon-file-generic {display: block;width: 32px;height: 32px;background: url(/images/site-develop/icon-file-generic.png) no-repeat top;}
.icon-file-generic:hover {background: url(/images/site/icon-file-generic.png) no-repeat bottom;}
.icon-file-video {display: block;width: 32px;height: 32px;background: url(/images/site-develop/icon-file-video.png) no-repeat top;}
.icon-file-video:hover {background: url(/images/site/icon-file-video.png) no-repeat bottom;}