/* PERSONALIZED GRID SYSTEM */
/* FORKED BY THE ORIGINAL 960 GRID */
/**********************************/
/* can be fixed or fluid */
/* set the desired fixed width in pixel or %  */
/* if you use percentage, take care to avoid to go upper then 92% to left some margin */
/* set the margin between columns, in px for fixed layout %*/
/* WARNING: Internal variables, don't change it! these are assumed to modify margin in fixed layout */
.hive_12, .hive_16 { width: 960px; margin-left: auto; margin-right: auto; }

.cell_1, .cell_2, .cell_3, .cell_4, .cell_5, .cell_6, .cell_7, .cell_8, .cell_9, .cell_10, .cell_11, .cell_12, .cell_13, .cell_14, .cell_15, .cell_16 { display: inline; float: left; margin-left: 10px; margin-right: 10px; position: relative; }

.hive_12 .cell_3, .hive_16 .cell_4 { width: 220px; }

.hive_12 .cell_6, .hive_16 .cell_8 { width: 460px; }

.hive_12 .cell_9, .hive_16 .cell_12 { width: 700px; }

.hive_12 .cell_12, .hive_16 .cell_16 { width: 940px; }

.alpha { margin-left: 0; }

.omega { margin-right: 0; }

.hive_12 .cell_1 { width: 60px; }

.hive_12 .cell_2 { width: 140px; }

.hive_12 .cell_4 { width: 300px; }

.hive_12 .cell_5 { width: 380px; }

.hive_12 .cell_7 { width: 540px; }

.hive_12 .cell_8 { width: 620px; }

.hive_12 .cell_10 { width: 780px; }

.hive_12 .cell_11 { width: 860px; }

.hive_16 .cell_1 { width: 40px; }

.hive_16 .cell_2 { width: 100px; }

.hive_16 .cell_3 { width: 160px; }

.hive_16 .cell_5 { width: 280px; }

.hive_16 .cell_6 { width: 340px; }

.hive_16 .cell_7 { width: 400px; }

.hive_16 .cell_9 { width: 520px; }

.hive_16 .cell_10 { width: 580px; }

.hive_16 .cell_11 { width: 640px; }

.hive_16 .cell_13 { width: 760px; }

.hive_16 .cell_14 { width: 820px; }

.hive_16 .cell_15 { width: 880px; }

.hive_12 .pre_3, .hive_16 .pre_4 { padding-left: 240px; }

.hive_12 .pre_6, .hive_16 .pre_8 { padding-left: 480px; }

.hive_12 .pre_9, .hive_16 .pre_12 { padding-left: 720px; }

.hive_12 .pre_1 { padding-left: 80px; }

.hive_12 .pre_2 { padding-left: 160px; }

.hive_12 .pre_4 { padding-left: 320px; }

.hive_12 .pre_5 { padding-left: 400px; }

.hive_12 .pre_7 { padding-left: 560px; }

.hive_12 .pre_8 { padding-left: 640px; }

.hive_12 .pre_10 { padding-left: 800px; }

.hive_12 .pre_11 { padding-left: 880px; }

.hive_16 .pre_1 { padding-left: 60px; }

.hive_16 .pre_2 { padding-left: 120px; }

.hive_16 .pre_3 { padding-left: 180px; }

.hive_16 .pre_5 { padding-left: 300px; }

.hive_16 .pre_6 { padding-left: 360px; }

.hive_16 .pre_7 { padding-left: 420px; }

.hive_16 .pre_9 { padding-left: 540px; }

.hive_16 .pre_10 { padding-left: 600px; }

.hive_16 .pre_11 { padding-left: 660px; }

.hive_16 .pre_13 { padding-left: 780px; }

.hive_16 .pre_14 { padding-left: 840px; }

.hive_16 .pre_15 { padding-left: 900px; }

.hive_12 .post_3, .hive_16 .post_4 { padding-right: 240px; }

.hive_12 .post_6, .hive_16 .post_8 { padding-right: 480px; }

.hive_12 .post_9, .hive_16 .post_12 { padding-right: 720px; }

.hive_12 .post_1 { padding-right: 80px; }

.hive_12 .post_2 { padding-right: 160px; }

.hive_12 .post_4 { padding-right: 320px; }

.hive_12 .post_5 { padding-right: 400px; }

.hive_12 .post_7 { padding-right: 560px; }

.hive_12 .post_8 { padding-right: 640px; }

.hive_12 .post_10 { padding-right: 800px; }

.hive_12 .post_11 { padding-right: 880px; }

.hive_16 .post_1 { padding-right: 60px; }

.hive_16 .post_2 { padding-right: 120px; }

.hive_16 .post_3 { padding-right: 180px; }

.hive_16 .post_5 { padding-right: 300px; }

.hive_16 .post_6 { padding-right: 360px; }

.hive_16 .post_7 { padding-right: 420px; }

.hive_16 .post_9 { padding-right: 540px; }

.hive_16 .post_10 { padding-right: 600px; }

.hive_16 .post_11 { padding-right: 660px; }

.hive_16 .post_13 { padding-right: 780px; }

.hive_16 .post_14 { padding-right: 840px; }

.hive_16 .post_15 { padding-right: 900px; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }

.clearfix { display: inline-block; }

* html.clearfix { height: 1%; }

.clearfix { display: block; }

/* TABLETS LIKE IPAD PORTRAIT */
@media screen and (max-width: 880px) { .hive_12, .hive_16 { padding: 10px 0; width: 100% !important; margin: 0; }
  .cell_12, .cell_11, .cell_10, .cell_9 { width: 100% !important; margin: 0; }
  .cell_8, .cell_7, .cell_6, .cell_5 { width: 70% !important; margin: 0; margin-right: 2%; }
  .cell_4, .cell_3, .cell_2, .cell_1 { width: 28% !important; margin: 0; }
  .cell_12 .cell_1, .cell_16 .cell_1 { width: 100% !important; }
  .cell_12 .cell_2, .cell_16 .cell_2 { width: 100% !important; }
  .cell_12 .cell_3, .cell_16 .cell_3 { width: 100% !important; }
  .cell_12 .cell_4, .cell_16 .cell_4 { width: 100% !important; }
  .cell_12 .cell_5, .cell_16 .cell_5 { width: 100% !important; }
  .cell_12 .cell_6, .cell_16 .cell_6 { width: 100% !important; }
  .cell_12 .cell_7, .cell_16 .cell_7 { width: 100% !important; }
  .cell_12 .cell_8, .cell_16 .cell_8 { width: 100% !important; }
  .cell_12 .cell_9, .cell_16 .cell_9 { width: 100% !important; }
  .cell_12 .cell_10, .cell_16 .cell_10 { width: 100% !important; }
  .cell_12 .cell_11, .cell_16 .cell_11 { width: 100% !important; }
  .cell_12 .cell_12, .cell_16 .cell_12 { width: 100% !important; }
  .cell_12 .cell_13, .cell_16 .cell_13 { width: 100% !important; }
  .cell_12 .cell_14, .cell_16 .cell_14 { width: 100% !important; }
  .cell_12 .cell_15, .cell_16 .cell_15 { width: 100% !important; }
  .cell_12 .cell_16, .cell_16 .cell_16 { width: 100% !important; } }

/* SETTING FOR SMARTPHONES */
/* portrait and landscape */
@media screen and (max-width : 620px) { .hive_12, .hive_16 { padding: 10px 0; width: 100% !important; margin: 0; }
  .cell_12, .cell_11, .cell_10, .cell_9, .cell_8, .cell_7, .cell_6, .cell_5, .cell_4, .cell_3, .cell_2, .cell_1 { width: 100% !important; margin: 0; }
  .alpha, .omega { margin: 0; } }
