/* SPLEEN SCSS LIBRARY */
/* created by spleenteo http://www.basictrading.biz */
/********************************************/
.debug { border: 1px solid red; }

.bg_reset { background-repeat: no-repeat; background-color: transparent; background-position: top left; }

@font-face { font-family: 'special'; src: url("fonts/Georgia.eot"); src: local("Georgia"), url("fonts/Georgia.ttf") format("truetype"); }

/* RESET BROWSER AND HTML STYLES */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

:focus { outline: 0; }

ins { text-decoration: none; }

del { text-decoration: line-through; }

table { border-collapse: collapse; border-spacing: 0; }

/* HTML5 RESET TO AVOID INLINE BROWSER SETTINGS */
/********************/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* GENERIC CLASSES */
.special_font { font-family: special; font-smooth: always; font-weight: 400; }

.spleen_lib_verify:before { border: 5px solid black; content: "SPLEEN SCSS LIBRARY IS WORKING!"; color: white; text-shadow: #000 1px 1px 5px; font-size: 3em; font-family: verdana; font-weight: bold; margin: 10px; padding: 10px; display: block; background-image: url("http://basictrading.biz/download/git/spleen_scss/spleen_stripe.png"); -moz-border-radius: 10px 10px 10px 10px; /* FF1+ */ -webkit-border-radius: 10px 10px 10px 10px; /* Saf3+, Chrome */ border-radius: 10px 10px 10px 10px; /* Opera 10.5, IE 9 */ behavior: url("/css/PIE.htc"); text-align: center; }

/* DEFAULT BODY */
body strong { font-weight: 600; }
body a { text-decoration: none; }
body a:hover { text-decoration: underline; }

/* Usefull classes to be used to .hide .show elements with js */
/* .opener is the trigger to be cliccked */
/* hider is the element contiaing the content that might be dynamically shown */
.hider { display: none; }

.opener { cursor: pointer; }

.before_opener_commons, .opener_close:before, .opener_open:before { margin-right: 4px; content: ""; margin-right: 4px; background-image: url("img/opener_arrow.png"); line-height: 16px; padding-left: 16px; }

.opener_close:before { background-position: 0 0; }

.opener_open:before { background-position: -16px -16px; }

/* SPACES HELPS YOU TO SET MARGIN ON THE FLY */
.t_10 { margin-top: 10px; }

.t_20 { margin-top: 20px; }

.t_30 { margin-top: 30px; }

.t_40 { margin-top: 40px; }

.t_50 { margin-top: 50px; }

.t_60 { margin-top: 60px; }

.t_70 { margin-top: 70px; }

.t_80 { margin-top: 80px; }

.t_90 { margin-top: 90px; }

.t_100 { margin-top: 100px; }

.b_10 { margin-bottom: 10px; }

.b_20 { margin-bottom: 20px; }

.b_30 { margin-bottom: 30px; }

.b_40 { margin-bottom: 40px; }

.b_50 { margin-bottom: 50px; }

.b_60 { margin-bottom: 60px; }

.b_70 { margin-bottom: 70px; }

.b_80 { margin-bottom: 80px; }

.b_90 { margin-bottom: 90px; }

.b_100 { margin-bottom: 100px; }

.tb_10 { margin-top: 10px; margin-bottom: 10px; }

.tb_20 { margin-top: 20px; margin-bottom: 20px; }

.tb_30 { margin-top: 30px; margin-bottom: 30px; }

.tb_40 { margin-top: 40px; margin-bottom: 40px; }

.tb_50 { margin-top: 50px; margin-bottom: 50px; }

.tb_60 { margin-top: 60px; margin-bottom: 60px; }

.tb_70 { margin-top: 70px; margin-bottom: 70px; }

.tb_80 { margin-top: 80px; margin-bottom: 80px; }

.tb_90 { margin-top: 90px; margin-bottom: 90px; }

.tb_100 { margin-top: 100px; margin-bottom: 100px; }

.l_10 { margin-lef: 10px; }

.l_20 { margin-lef: 20px; }

.l_30 { margin-lef: 30px; }

.l_40 { margin-lef: 40px; }

.l_50 { margin-lef: 50px; }

.l_60 { margin-lef: 60px; }

.l_70 { margin-lef: 70px; }

.l_80 { margin-lef: 80px; }

.l_90 { margin-lef: 90px; }

.l_100 { margin-lef: 100px; }

.r_10 { margin-right: 10px; }

.r_20 { margin-right: 20px; }

.r_30 { margin-right: 30px; }

.r_40 { margin-right: 40px; }

.r_50 { margin-right: 50px; }

.r_60 { margin-right: 60px; }

.r_70 { margin-right: 70px; }

.r_80 { margin-right: 80px; }

.r_90 { margin-right: 90px; }

.r_100 { margin-right: 100px; }

.lr_10 { margin-lef: 10px; margin-right: 10px; }

.lr_20 { margin-lef: 20px; margin-right: 20px; }

.lr_30 { margin-lef: 30px; margin-right: 30px; }

.lr_40 { margin-lef: 40px; margin-right: 40px; }

.lr_50 { margin-lef: 50px; margin-right: 50px; }

.lr_60 { margin-lef: 60px; margin-right: 60px; }

.lr_70 { margin-lef: 70px; margin-right: 70px; }

.lr_80 { margin-lef: 80px; margin-right: 80px; }

.lr_90 { margin-lef: 90px; margin-right: 90px; }

.lr_100 { margin-lef: 100px; margin-right: 100px; }

/* BASIC TABLE STYLE */
/*********************/
table { width: 100%; }
table td, table th { padding: 5px; vertical-align: top; }
table thead tr th { font-weight: 600; }
table thead tr th.short { width: 10%; }
table thead tr th.medium { width: 30%; }
table thead tr th.long { width: 60%; }
table .center { text-align: center; }
table .right { text-align: right; }

/* BASIC FORMS STYLE */
/*********************/
form fieldset label span { display: none; }
form fieldset input, form fieldset textarea, form fieldset select { margin-bottom: 4px; }
form fieldset div.field { padding: 5px 0; }
form fieldset div.field .help-text { font-style: italic; }
form fieldset div.required label { border-left: 2px solid red; }
form fieldset div.required label:before { content: "* "; }
form fieldset div.error label { color: red; }
form fieldset div.error input[type="text"], form fieldset div.error input[type="password"] { border-left: 2px solid red; }
form fieldset div.error ul.errorlist { color: red; }
form fieldset div.error ul.errorlist li { font-style: italic; padding-left: 15px; font-size: 90%; }
form fieldset div.error ul.errorlist li:before { display: inline; }
form fieldset .inline { display: inline; }
form fieldset .short { width: 30%; }
form fieldset .medium { width: 45%; }

.cms { font-size: 1em; line-height: 1.3em; }
.cms h1 span, .cms h2 span, .cms h3 span, .cms h4 span, .cms h5 span { display: none; }
.cms p img { margin: 5px 5px 5px 0; }
.cms p img.right { float: right; margin: 5px 0 5px 5px; }
.cms blockquote { font-style: italic; }

.debug { border: 1px solid red; }

.bg_reset { background-repeat: no-repeat; background-color: transparent; background-position: top left; }

/* GENERIC STYLED FOR OUTLINE AND VERY OLD BROWSERS */
/**********************************/
/* END GENERIC STYLED FOR OUTLINE AND VERY OLD BROWSERS  */
/* MEDIA QUERIES STATEMENTS */
/**********************************/
/* SMALLER THAN */
/****************************************************************************/
/* smaller then 639 (SMARTPHONE PORTRAIT ONLY, UNDER SMARTPHONES LANDSCAPE) */
/* smaller then 719 (SMALLER THAN TABLET PORTRAIT) */
/* smaller then 1023 (SMALLER THAN DESKTOP OR TABLET PORTRAIT) */
/* smaller then 1499 (SMALLER THAN CINEMA DISPLAY) */
/* BIGGER THAN */
/****************************************************************************/
/* bigger then 640 (SMARTPHONES LANDSCAPE OR BIGGER) */
/* bigger then 720 (TABLET PORTRAIT OR BIGGER) */
/* bigger then 1024 (TABLET LANDSCAPE OR BIGGER) */
/* bigger then 1500 (HD - CINEMA DISPLAY OR BIGGER) */
/* BETWEEN SIZES */
/****************************************************************************/
/* between 640 and 1023 (FOR SMARTPHONE LANDSCAPE AND TABLET PORTRAIT ONLY ) */
/* between 1024 and 1499 (FOR TABLET PORTRAIT AND DESKTOP ONLY ) */
/* between 640 and 1499 (FOR SMARTPHONE LANDSCAPE, TABLET PORTRAIT AND DESKTOP ONLY ) */
/* END MEDIA QUERIES STATEMENTS  */
