<h2><%= t("public.users.edit_user", :user => @user.login) %></h2>

<% @user.password = @user.password_confirmation = nil %>

<% form_for @user, :url => user_path(@user.id) do |f| %>
<fieldset>
  <legend>Sign up</legend>
  <%= render :partial => "form", :object => @user, :locals => {:f => f} %>
  <%= submit_tag t("public.general.submit"), :class => "submit" %>
</fieldset>
<% end %>

