development:
  adapter: mysql
  reconnect: false
  database: railsyard_development
  encoding: utf8
  pool: 5
  host: 192.168.x.x
  username: your_username
  password: your_password

test:
  adapter: mysql
  reconnect: false
  database: railsyard_test
  encoding: utf8
  pool: 5
  host: 192.168.x.x
  username: your_username
  password: your_password

production:
  adapter: mysql
  reconnect: false
  database: railsyard_production
  encoding: utf8
  pool: 5
  host: 192.168.x.x
  username: your_username
  password: your_password

