// define here your colors' palette
// the stadard here used is a variable $ with a "c" prefix to better understand that you refer to a color var

$cGray: #dadada;
$cGrayLight: #e3e3e3;
$cGrayLighter: #f1f1f1;

$cGrayDark: #a6a3a3;
$cGraySmoke: #5b5f4f;
$cBlue: #2876af;
$cBlueLight: #5eb6f6;
$cGreen: #90b61e;
$cGreenLight: #d6da61;
$cGreenLighter: #f0f2bd;
/*
$cBlueNavy: #253a55;
$cBlueLight: #064792;
$cBlueLighter: #52a9ff;
*/