/*-----------------------------------------------
 	Author: Marco Zampetti (mailto:zaorunner@gmail.com)
----------------------------------------------- */

a {
	cursor: pointer;
}
.firstlevel-menu ul li,
.footer-menu ul li {
	zoom:1;
	*display: inline;
	_height: 30px;
}