html {font-family: Trebuchet, sans-serif;font-size:12px;color: #333;background: url(/images/site-develop/background-1920.jpg) no-repeat fixed;}
#container {position:relative;width:1000px;left: 50%;margin-left:-500px;top: 0px;}
#container #header {position: relative;height: 110px;}
#container #header a{text-decoration: none;}
#container #header .nav-service{position: absolute;left: -22px;bottom: 16px;width:14px;height: 13px;}
#container #header .nav-service span{display: none;}
#container #header .nav-service .home-button{position: absolute;top: 10px;left: 0px;width: 14px;height: 13px;background: url(/images/site-develop/icon-home.png) no-repeat top;}
#container #header .nav-service .search-button{position: absolute;top: 10px;left: -20px;width: 14px;height: 13px;background: url(/images/site-develop/icon-search.png) no-repeat top;}
#container #header .nav-service .home-button:hover,#container #header .nav-service .search-button:hover{background-position: bottom;}
#container #header .nav-service #search-panel {position: absolute;top: -23px;left: -20px;width: 200px;height: 20px;z-index: 0;font-size: 11px;}
#container #header .nav-service #search-panel input#search {padding: 1px;color: #666;margin-right: 2px;}
#container #header .nav-service #search-panel input.button {background: url(/images/site-develop/icon-go-to.png) no-repeat top;height: 17px;width: 17px;border: 0px;padding: 0px;cursor: pointer;vertical-align: top;margin-top: 1px;}
#container #header .nav-service #search-panel input.button:hover {background-position: bottom;}
#container #header .top-logo{position: absolute;width: 285px;height: 74px;top: 20px;left: 25px;background: url(/images/site-develop/top-logo.png) no-repeat;}
#container #header .top-logo span{position: absolute;bottom: -14px;left: 0px;font-size: 18px;text-shadow: 1px 1px 1px #555555;font-weight: bold;color: #fff;letter-spacing: 1px;text-decoration: none;}
#container #header .right-area{position: absolute;right: 25px;top: 10px;}
#container #header .right-area .logo{float: right;border: 1px solid #fff;}
#container #header .right-area span{float: right;clear: left;text-align: right;color: #fff;font-weight: bold;margin-right: 5px;text-shadow: 1px 1px 1px #555555;}
#container #header .right-area span p{display: block;}
#container #header .right-area span p a{color: #fff;text-decoration: none;}
#container #header .right-area span p a:hover{color: #d86619;}
#container #header .firstlevel-menu{position: absolute;right: 25px;bottom: 0px;}
#container #header .firstlevel-menu ul {}
#container #header .firstlevel-menu ul li{display: inline;}
#container #header .firstlevel-menu ul li a{display: inline-block;text-decoration: none;color: #fff;padding: 5px 7px 5px 7px;font-size: 14px;font-weight: bold;text-transform: uppercase;text-shadow: 1px 1px 1px #555555;}
#container #header .firstlevel-menu ul li a:hover{color: #d86619;}
#container #header .firstlevel-menu ul li.selected a{color: #d86619;}
#container #page-container {width:1000px;background-image: url(/images/site-develop/page-content-bg.png);background-repeat: repeat-y;}
#container #page-container .content{position: relative;left: 20px;width: 910px;min-height: 625px;padding: 25px;font-family: Verdana, sans-serif;}
#container #page-container .content .editable-content-snippet,.article p,.article strong {line-height: 24px;}
#container #page-container .content h1{font-size:26px;font-weight: bold;text-transform:capitalize;margin: 0 0 20px 0;}
#container #page-container .content h2{font-size:18px;font-weight: bold;text-transform:capitalize;margin: 10px 0 5px 0;}
#container #page-container .content .red h1,#container #page-container .content .red h1 a,#container #page-container .content .red h2,#container #page-container .content .red a{color: #d86619;}
#container #page-container .content .blue h1,#container #page-container .content .blue h1 a,#container #page-container .content .blue h2,#container #page-container .content .blue a{color: #102c44;}
#container #page-container .content .green h1,#container #page-container .content .green h1 a,#container #page-container .content .green h2,#container #page-container .content .green a{color: #3b8237;}
.editable-content-snippet ul li {list-style: square url("/images/site-develop/list-red.png");margin-left: 15px;}
#container #page-container .content .red ul li{list-style: square url("/images/site-develop/list-red.png");margin-left: 15px;}
#container #page-container .content .blue ul li{list-style: square url("/images/site-develop/list-blue.png");margin-left: 15px;}
#container #page-container .content .green ul li{list-style: square url("/images/site-develop/list-green.png");margin-left: 15px;}
#container #page-container .content .full .column-center {float: none;width: 910px;}
#container #page-container .content .full .full-left{float: left;width: 260px;}
#container #page-container .content .full .full-center{float: left;width: 260px;margin-left: 60px;}
#container #page-container .content .full .full-right{float: right;width: 260px;}
#container #page-container .content .column-left {float: left;margin-right: 60px;}
#container #page-container .content .column-center {float: left;width: 580px;}
#container #page-container .content .column-right {display: none;width: 0px;}
#container #page-container .content .defloater {clear: both;padding: 0 0 0 0;}
.editable-content-snippet strong{font-weight: bold;}
.editable-content-snippet em {font-style: italic;}
.editable-content-snippet u {text-decoration: underline;}
.editable-content-snippet ul {padding: 10px 0 10px 0;}
#container #page-container .content .secondlevel-menu {width: 260px;}
#container #page-container .content .secondlevel-menu h1 {color: #d86619;margin: 0 0 11px 0;}
#container #page-container .content .secondlevel-menu ul {}
#container #page-container .content .secondlevel-menu ul li{list-style: square url("/images/site-develop/list-red.png");margin-left: 15px;}
#container #page-container .content .secondlevel-menu ul li a{display: block;text-decoration: none;color: #d86619;padding: 8px 0 8px 0;font-size: 14px;font-weight: bold;}
#container #page-container .content .secondlevel-menu ul li a:hover {color: #3b8237;}
#container #page-container .content .secondlevel-menu ul li.current a {color: #102c44;}
#container #page-container .content .children-menu {width: 260px;}
#container #page-container .content .children-menu h1 {color: #d86619;margin: 0 0 11px 0;}
#container #page-container .content .children-menu ul {}
#container #page-container .content .children-menu ul li{list-style: square url("/images/site-develop/list-red.png");margin-left: 15px;}
#container #page-container .content .children-menu ul li a{display: block;text-decoration: none;color: #d86619;padding: 8px 0 8px 0;font-size: 14px;font-weight: bold;}
#container #page-container .content .children-menu ul li a:hover {color: #3b8237;}
#container #page-container .content .children-menu ul li.current a {color: #102c44;}
#container #page-container #footer {position: relative;left: 20px;width: 960px;min-height: 200px;background-image: url(/images/site-develop/footer-bg.png);background-repeat: repeat;}
#container #page-container #footer .footer-menu {position: relative;left: 25px;}
#container #page-container #footer .footer-menu ul{display: inline-block;vertical-align: top;max-width: 100px;padding: 10px 7px 10px 7px;}
#container #page-container #footer .footer-menu ul li a{display: block;color: #ffffff;text-decoration: none;padding: 2px 0 2px 0;font-weight: bold;text-shadow: 1px 1px 1px #555555;font-size: 11px;}
#container #page-container #footer .footer-menu ul li.roots a{font-size: 15px;text-transform: uppercase;}
#container #page-container #footer .footer-menu ul li a:hover{color: #ffffff;text-decoration: underline;}
#container #page-container #footer .footer-menu ul li a span{}
#container #page-container #footer .alerts {position: absolute;width: 150px;bottom: 10px;right: 25px;font-size: 11px;line-height: 15px;}
#container #page-container #footer .alerts #alerts-box {color: #f0f0f0;border: 1px dotted #f0f0f0;padding: 5px;}
#container #page-container #footer .alerts #notice {color: #f0f0f0;}
#container #page-container #footer .alerts #error {color: #f0f0f0;font-weight: bold;}
#container #page-container #footer .user-area {position: absolute;top: 10px;right: 25px;width: 155px;height: 150px;}
#container #page-container #footer .user-area p{text-align: right;color: #f0f0f0;padding: 2px 0 2px 0;font-size: 11px;}
#container #page-container #footer .user-area a{text-align: right;color: #f0f0f0;padding: 3px 0 2px 0;font-size: 11px;font-weight: bold;text-decoration: none;text-shadow: 1px 1px 1px #555555;}
#container #page-container #footer .user-area a:hover{color: #d86619;}
#container #page-container #footer .logged h2{text-align: right;color: #f0f0f0;padding: 3px 0 2px 0;font-size: 25px;letter-spacing: 1px;}
#container #page-container #footer .login p .username,#container #page-container #footer .login p .password {padding: 4px 10px 4px 8px;width: 97px;height: 14px;background: url(/images/site-develop/input-login-bg.png) no-repeat;border: none;font-size: 11px;}
#container #page-container #footer .login p .remember {vertical-align: top;margin: 1px 0 0 0;}
#container #page-container #footer .login p .login-button {padding: 0 0 0 0;background: none;border: none;color: #f0f0f0;font-size: 18px;cursor: pointer;margin-right: -3px;text-shadow: 1px 1px 1px #555555;}
#container #page-container #footer .login p .login-button:hover {color: #d86619;}
#container #page-container #credits {position: relative;left: 20px;bottom: 0px;width: 960px;height: 25px;background: #112e46;}
#container #page-container #credits p{display: block;color: #fff;padding: 5px 0 0 30px;font-size: 12px;font-weight: bold;}
#container #page-container #credits p a{color: #fff;text-decoration: none;}
#container #page-container #credits p a:hover{color: #d86619;}
#thumbnails li {display: inline-block;margin-left: 15px;}
#thumbnails li a{display: inline-block;float: left;margin: 5px 10px 5px 0;vertical-align: middle;font-size: 12px;text-decoration: underline;color: #4782c6;}
#thumbnails li a:hover{text-decoration: none;color: #4782c6;}
#thumbnails li a.text-link{padding: 10px 0 0 0;}
#thumbnails li img{vertical-align: middle;}
#thumbnails li object{vertical-align: middle;padding: 20px 0 0 0;}
#errorExplanation h2{font-size: 18px;font-weight: normal;text-shadow: none;line-height: 22px;color: #333333;padding: 0px;margin: 0px;}
#errorExplanation p,#errorExplanation ul li{font-size: 12px;font-weight: normal;text-shadow: none;line-height: 14px;color: #333333;padding: 1px 0 1px 0;margin: 0 0 0 15px;list-style: square outside url("/images/site-develop/list-arrow-right.gif");}
#errorExplanation p{font-weight: bold;padding: 0px;margin: 0px;list-style: none;}
#gmap {width: 900px;height: 225px;margin: 0 0 25px 0;border: 1px solid #555555;}
#search-results ul{padding-bottom: 20px;}
#search-results ul li{border-bottom: 3px dashed #c9c9c9;padding-top: 20px;padding-bottom: 20px;}
#search-results ul li p{padding-top: 10px;}
#search-results ul  li h3 a{font-size:28px;font-weight: lighter;text-decoration: none;color: #333;}
#search-results ul  li h3 a:hover{color: #999;}
.article {display: block;padding-bottom: 30px;}
.article h1 a{font-size:26px;font-weight: lighter;text-transform:capitalize;margin: 0 0 20px 0;color: #102c44;text-decoration: none;}
.article h1 a:hover{color: #d86619;}
.article strong {font-weight: bold;display: block;padding: 0 0 10px 0;font-size: 14px;line-height: 16px;}
.article p{margin: 10px;line-height: 18px;}
.article a{color: #102c44;}
#comment_form form input#comment_submit {margin: 10px 0 0 0;padding: 5px;}
#comments_list div {margin-bottom: 20px;}
.comm-auth {font-size: 18px;font-weight: lighter;display: block;}
.comm-date {display: block;font-size: 11px;}
.comm-body {display: block;font-size: 12px;margin: 10px;}
.comm-del a{color: #d86619;}