// define here your colors' palette
// the stadard here used is a variable $ with a "c" prefix to better understand that you refer to a color var

$cGray: #ccc;
$cGrayLight: #eee;
$cGrayDark: #3d3d3d;
