<%#= raise @first_level_pages.inspect %>


<p>Menu primo livello</p>
<%= render_cell :menu, :first_level, :page => @page %>

</br>

<p>Due livelli</p>
<%= render_cell :menu, :two_levels, :page => @page %>

</br>

<p>Menu figli</p>
<%= render_cell :menu, :children, :page => @page %>
